
.container {
    display: flex;
    flex-direction: row;
}

.editor {
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;

    padding-right: 15px;
}

.signature {
    flex: 1;

    padding-left: 15px;
}

* {
    font-family:
        "Avenir Next",
        Avenir,
        Helvetica,
        sans-serif,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol";
}
