
.container {
    display: flex;
    flex-direction: row;
}

.editor {
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;

    padding-right: 15px;
}

.signature {
    flex: 1;

    padding-left: 15px;
}
